{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('GeoNode site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name">
    <img src="{% static 'mapstore/img/geonode-logo.svg' %}" style="margin-right: .4rem;height: 2.5rem;width: auto;">
    <a href="{% url 'admin:index' %}">{{ site_header|default:_('GeoNode administration') }}</a>
</h1>
{% endblock %}
{% block extrastyle %}
    <style type="text/css">
        html[data-theme="light"],
        :root {
            --primary: #397aab;
            --header-bg: #ffffff;
            --header-color:  var(--primary)
            --header-branding-color: #ffffff;
            --accent:  var(--primary);
            --default-button-bg:  var(--primary)
            --default-button-hover-bg: #306d9c;
            --button-hover-bg: #306d9c;
            --header-link-color: var(--primary)
        }

        h1#site-name a {
            font-weight: 400;
        }
    </style>
{% endblock %}
