{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('GeoNode site admin') }}{% endblock %}

{% block branding %}
<img src="{% static 'mapstore/img/geonode-logo.svg' %}">
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('GeoNode administration') }}</a></h1>
{% endblock %}
{% block extrastyle %}
    <style type="text/css">
        html[data-theme="light"],
        :root {
            --primary: #397aab;
            --header-bg: #ffffff;
            --header-color:  var(--primary);
            --header-branding-color: #ffffff;
            --accent:  var(--primary);
            --default-button-bg:  var(--primary);
            --default-button-hover-bg: #306d9c;
            --button-hover-bg: #306d9c;
            --header-link-color: #ffffff;
            --font-family-primary: "Montserrat", sans-serif;
        }
        #branding h1{
            line-height: 2.5rem;
        }

        #branding h1 > a {
            font-weight: 400;
        }

        #branding img {
            margin-right: 1rem;
            height: 2.5rem;
            width: auto;
            transform: translateY(-2px);
        }

        #header a:link, #header a:visited, #logout-form button {
            color: var(--primary);
        }

        .theme-toggle svg.theme-icon-when-auto, .theme-toggle svg.theme-icon-when-dark, .theme-toggle svg.theme-icon-when-light {
            fill: var(--primary);
        }

        #nav-sidebar .current-app .section:link, #nav-sidebar .current-app .section:visited {
            background-color: var(--primary);
            color: #ffffff;
        }
    </style>
{% endblock %}