{% extends "admin/base_site.html" %}
{% load admin_interface_tags i18n static %}
{% block branding %}
{% get_admin_interface_theme as theme %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        {% if theme.logo_visible %}
            {% if theme.logo %}
            <img class="logo" style="display:none;" src="{{ theme.logo.url }}" {% if theme.logo.width %}width="{{ theme.logo.width }}"{% endif %} {% if theme.logo.height %}height="{{ theme.logo.height }}"{% endif %}>
            {% else %}
            <img src="{% block logo_src %}/static/mapstore/img/geonode-logo.svg{% endblock %}" style="height:2.5rem; margin-right:.4rem;">
            {% endif %}
        {% endif %}
        {% if theme.title_visible %}
        <span>{% if theme.title %}{% translate theme.title %}{% else %}{{ site_header|default:_('Django administration') }}{% endif %}</span>
        {% endif %}
    </a>
</h1>
{% endblock branding %}