{% extends "admin/change_list.html" %}

{% block extrastyle %}
{{ block.super }}

<style>
    #changelist-filter {
        margin-top: 5px;
        box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.6);
        position: relative;
        padding-bottom: 10px;
    }

    #changelist-filter h2 {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px !important;
    }

    #changelist-filter.collapsed {
        height: 18px !important;
        overflow-y: hidden !important;
        margin-left: -240px;
    }

    #changelist-filter details summary {
        margin-bottom: 0px !important;
    }

    .list-filter-dropdown select {
        margin-right: 15px;
    }

    .chevron {
        transition: transform 0.3s ease;
    }

    .collapsed .chevron {
        transform: rotate(90deg);
    }
</style>
{% endblock %}

{% block footer %}
{{ block.super }}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const changelistFilterElt = document.getElementById("changelist-filter");
        if (changelistFilterElt.querySelectorAll("span").length > 0){
            return;
        }
        const chevron = document.createElement('span');
        chevron.className = 'chevron';
        chevron.textContent = '▼';

        changelistFilterElt.querySelector("h2").appendChild(chevron);

        changelistFilterElt.querySelector("h2").addEventListener("click", () => {
            changelistFilterElt.classList.toggle("collapsed");
        });
    });
</script>
{% endblock %}